.inputs
  = f.input :title, :autofocus => true, :input_html => {:class => "span4"}
  = f.input :slug, :input_html => {:class => "span4", :"data-auto-sluggify" => "#forum_title"}
  = f.input :position, :input_html => {:class => "span4"}
.inputs
  = f.input :description, :input_html => {:rows => 5, :class => "span10"}
  
.controls
  = f.button :submit, t("actions.update"), :class => 'btn-primary'
  &nbsp;
  = t "nav.or"
  &nbsp;
  = link_to t("nav.back"), :back
