.span6.offset3

  %h2 Sign up

  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'well form-horizontal'}) do |f|
    = f.error_notification

    .inputs
      = f.input :login, :autofocus => true
      = f.input :email, :required => true
      -if resource.password_required?
        = f.input :password, :required => true
        = f.input :password_confirmation, :required => true

    .controls
      = f.button :submit, "Sign up", :class => 'btn-primary'
  =render "devise/omniauth"
  = render "links"
