.comment{id: "comment#{comment.id}"}
  .actions
    - if user_signed_in?
      = link_to t("actions.reply"), new_comment_path(:comment => {:parent_id => comment.id, :commentable_type => comment.commentable_type, :commentable_id => comment.commentable_id}),
        :class => "btn btn-mini btn-primary", :remote => true
      = comment_delete_action(comment)
  .face
    = gravatar_image_tag(comment.user.try(:email), :gravatar => {:size => 30})
  .created_at{:class => "#{'unread-comment' if current_user && comment.unread?(current_user.last_sign_in_at)}"}
    - if comment.user
      = link_to comment.user.display_name, account_profile_path(comment.user.login)
    = t "comments.commented"
    = t "datetime.ago", :distance => distance_of_time_in_words_to_now(comment.created_at)
  .content.markdown
    = markdown(comment.content)
  .reply{:style => "display:none"}
