#dataset_show.span8
  .well
    %h3
      = link_to gravatar_image_tag(@account.email, :gravatar => {:size => 32}), account_profile_path(@account)
      = link_to @account.login, account_profile_path(@account)
      = "/"
      = link_to @project.name, project_path(@project)
      = "/"
      %i.icon-list-alt
      = @dataset.name
      - if can? :manage, @dataset
        %small.pull-right
          = link_to "Edit", edit_account_project_dataset_path(@account, @project, @dataset), :class => "btn btn-small"
          = link_to "Delete", account_project_dataset_path(@account, @project, @dataset), :method => :delete, :class => "btn btn-small btn-danger",
            :confirm => "Are you sure to delete this dataset with all uploaded data?"
    - if @dataset.description.present?
      %p= simple_format @dataset.description
    - if @dataset.source_url.present?
      %p
        %i.icon-share
        %strong Source URL:
        = link_to @dataset.source_url, @dataset.source_url, :target => "_blank"

  %ul.nav.nav-tabs
    %li
      %a{href: "#preview", data: {toggle: "tab"}} Data preview
    %li
      %a{href: "#upload", data: {toggle: "tab"}} Uploaded files
    %li
      %a{href: "#columns", data: {toggle: "tab"}} Column information

  .tab-content
    #preview.tab-pane
      - if @dataset.columns.present?
        %table#preview_table.table.table-condensed{data: {source: dataset_datatable_path(@dataset)}}
          %thead
            %tr
              - @dataset.column_names.each do |name|
                %th
                  = name
                  %br/
                  %input.input-small{placeholder: "search in column"}
          %tbody
      - else
        No data imported.

    #upload.tab-pane
      - if @dataset.source_files.size > 0
        %table.table
          %thead
            %tr
              %th File name
              %th Size
              %th Uploaded
              %th Status
              %th
          %tbody
            - @dataset.source_files.recent.each do |source_file|
              %tr
                %td= link_to source_file.source_file_name, source_file_download_path(source_file)
                %td= number_to_human_size source_file.source_file_size
                %td
                  = time_ago_in_words source_file.created_at
                  ago
                %td= source_file.status.titleize
                %td
                  - if can? :manage, @dataset
                    .pull-right
                      - if source_file.can_start_import?
                        = link_to "Import", source_file_preview_path(source_file), :class => "btn btn-mini btn-success"
                      = link_to "Delete", account_project_dataset_source_file_path(@account, @project, @dataset, source_file),
                        :method => :delete, :class => "btn btn-mini btn-danger",
                        :confirm => "Are you sure to delete this uploaded file with all data imported from this file?"

      - if can? :manage, @dataset
        %h4 Upload new file
        = simple_form_for [@account, @project, @dataset, SourceFile.new], :html => {:class => "form-inline", :multipart => true} do |f|
          %input#source_file_replace_file{:type => "hidden", :name => "replace_file"}
          = f.input :source, :as => :file, :label => false
          = f.submit "Upload", :class => "btn btn-primary"

    #columns.tab-pane
      - if @dataset.columns.present?
        %table.table
          %thead
            %tr
              %th Column name
              %th Internal name
              %th Data type
              %th Limit
              %th.span4 Description
          %tbody
            - @dataset.columns.each do |column|
              %tr
                %td= column[:name]
                %td= column[:column_name]
                %td= column[:data_type]
                %td= dataset_column_display_limit(column)
                %td
        - if can? :manage, @dataset
          = link_to "Delete all columns", delete_columns_account_project_dataset_path(@account, @project, @dataset), :method => :put, :class => "btn btn-danger",
            :confirm => "Are you sure to delete all columns with all uploaded data?"
      - else
        No dataset columns have been created. Upload CSV source file at first.



.span4
  %h2 Recent Activity

:javascript
  $(function() {
    new Datahub.DatasetShowView({
      tab: "#{j flash[:tab]}"
    });
  });
