.span6.offset3

  %h2= t "users.change_password"

  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, :class => 'well form-horizontal'}) do |f|
    = f.error_notification
    = f.input :reset_password_token, :as => :hidden
    = f.full_error :reset_password_token
    .inputs
      = f.input :password, :label => User.human_attribute_name(:new_password), :hint => "", :required => true
      = f.input :password_confirmation, :label => User.human_attribute_name(:new_password_confirmation), :required => true

    .controls
      = f.button :submit, t("users.change_password"), :class => 'btn-primary'
