#home
  .span8
    %h1= t ".title"
    %p.lead= t ".title_lead.html"
    - if user_signed_in?
      %h2
        = t "projects.my_projects"
        = link_to t("projects.new_project"), new_account_project_path(current_user.account), :class => "btn btn-success pull-right"
      - if current_user.my_projects.present?
        = render current_user.my_projects
      - else
        %h4= t "projects.no_projects_created"
    - else
      #sign_up.row-fluid
        %p.span8.lead= t ".sign_up_lead.html"
        .span4
          = link_to t(".sign_up"), new_user_registration_path, :class => "btn btn-large btn-primary span12"

    %h2= t("datasets.recently_updated")
    = render Dataset.recent
    = link_to t("projects.search_more"), projects_path, :class => "btn btn-large"
    &nbsp;
    = t "nav.or"
    &nbsp;
    = link_to t("datasets.search_more"), datasets_path, :class => "btn btn-large"


  .span4
    #about
      %h2= t ".about_us"
      %p.lead= t ".about_us_lead.html"

    %h2= t "forums.recent_topics"
    = render :partial => 'topic', :collection => Topic.recent

    %h2= t "forums.recent_comments"
    = render :partial => 'topic_comment', :collection => Comment.topic_recent
