= simple_form_for([@account, @project], :html => {:class => 'project-form well form-horizontal'}) do |f|
  .inputs
    = f.input :name, :required => true, :autofocus => true, :input_html => {:class => "span4"}
    = f.input :shortname, :required => true, :input_html => {:class => "span4", :"data-auto-sluggify" => "#project_name"}
    = f.input :description, :input_html => {:rows => 5, :class => "span4"}
    = f.input :homepage, :input_html => {:class => "span4"}

  .controls
    = f.button :submit, t("actions.update"), :class => 'btn-primary'
    &nbsp;
    = t "nav.or"
    &nbsp;
    = link_to t("nav.back"), :back

:javascript
  $(function() {
    $("input[data-auto-sluggify]").autoSluggify()
  });
