.span8
  = form_tag projects_path, :method => :get, :class => "form-search" do
    = text_field_tag :q, params[:q], :class => "search-query span3", :placeholder => t("projects.search_placeholder")
    = submit_tag t("actions.search"), :name => nil, :class => "btn btn-primary"

  %h2
    - if params[:q]
      = t "projects.search_results"
      %small= params[:q]
    - else
      = t "projects.recently_updated"
  = render :partial => 'projects'

.span4
