.span8
  = form_tag projects_path, :method => :get, :class => "form-search" do
    = text_field_tag :q, params[:q], :class => "search-query span3", :placeholder => "Search projects by name and description"
    = submit_tag "Search", :name => nil, :class => "btn btn-primary"

  %h2
    - if params[:q]
      Project search results
      %small= params[:q]
    - else
      Recently updated projects
  = render :partial => 'projects'

.span4
