.span8
  .well
    %h2
      = link_to gravatar_image_tag(@account.email, :gravatar => {:size => 32}), account_profile_path(@account)
      = link_to @account.login, account_profile_path(@account)
      = "/"
      = @project.name
      - if can? :manage, @project
        %small.pull-right
          = link_to t("actions.edit"), edit_account_project_path(@account, @project), :class => "btn btn-small"
          = link_to t("actions.delete"), account_project_path(@account, @project), :method => :delete, :class => "btn btn-small btn-danger",
            :confirm => t("projects.delete_confirm")
    - if @project.description.present?
      %p= simple_format @project.description
    - if @project.homepage.present?
      %p= link_to @project.homepage, @project.homepage, :target => "_blank"

  %h3
    = t "projects.datasets"
    %small= "(#{@project.datasets.size})"
    - if can? :create_dataset, @project
      = link_to t("datasets.new_dataset"), new_account_project_dataset_path(@account, @project), :class => "btn btn-success btn-mini pull-right"

  - @project.datasets.each do |dataset|
    .well
      %h3
        %i.icon-list-alt
        = link_to dataset.name, dataset_path(dataset)
        - if can? :manage, dataset
          .pull-right
            = link_to t("actions.edit"), edit_account_project_dataset_path(@account, @project, dataset), :class => "btn btn-mini"
            = link_to t("actions.delete"), account_project_dataset_path(@account, @project, dataset), :method => :delete, :class => "btn btn-mini btn-danger",
              :confirm => t("datasets.delete_confirm")
      - if dataset.description.present?
        %p= simple_format dataset.description
      - if dataset.source_url.present?
        %p
          %i.icon-share
          %strong= Dataset.human_attribute_name(:source_url) + ':'
          = link_to dataset.source_url, dataset.source_url, :target => "_blank"
      - if (source_files_size = dataset.source_files.size) > 0
        = t "datasets.source_files_uploaded", :count => source_files_size

.span4
  %h2= t "nav.recent_activity"
