!!!
%html
  %head
    %title data.opendata.lv
    :erb
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
      <![endif]-->
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "/"} data.opendata.lv
          .nav-collapse
            %ul.nav
              %li= link_to "Projects", root_path
              %li= link_to "Data Sets", root_path
              %li{:class => top_menu_class(ForumsController)}= link_to "Forums", forums_path
            %ul.nav.pull-right
              - if user_signed_in?
                %li.dropdown
                  %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
                    = current_user_avatar_and_name
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to "My profile", account_profile_path(current_user.login)
                    %li= link_to "Edit profile", edit_user_registration_path
                    %li.divider
                    %li= link_to "Sign out", destroy_user_session_path, :method => :delete
              - else
                %li= link_to "Sign in", new_user_session_path

    .container
      - [:notice, :alert].each do |name|
        - if (message = flash[name])
          .alert{class: "alert-#{name == :notice ? "success" : "error"}"}
            %a.close{data: {dismiss: "alert"}} &times;
            = simple_format message
      .row
        = yield
    %footer.footer
